<div class="section">
  <div class="row">
    <div class="col s6">
      <form [formGroup]="createQuoteForm" (ngSubmit)="createQuote()" novalidate>
        <div class="section">
          <h5>{{'newQuote.title' | translate}}</h5>
          
          <div class="row" [style.margin-top]="'35px'">
              <mz-input-container>
                  <i mz-icon-mdi mz-input-prefix [icon]="'account'">
                  </i>
                  <input mz-input
                    [label]="'inputs.author' | translate"
                    formControlName="Author"
                    placeholder="{{'placeHolders.author' | translate}}"
                    type="text">
                </mz-input-container>
          </div>

          <div class="row" [style.margin-top]="'35px'">
              <mz-input-container>
                  <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'">
                  </i>
                  <input mz-input
                    [label]="'inputs.location' | translate"
                    formControlName="Location"
                    placeholder="{{'placeHolders.location' | translate}}"
                    type="text">
                </mz-input-container>
          </div>

          <div class="row" [style.margin-top]="'35px'">
              <mz-datepicker-container>
                  <i mz-icon-mdi mz-input-prefix
                    [icon]="'calendar'">
                  </i>
                  <input mz-datepicker
                    formControlName="Date"
                    [label]="'inputs.quoteDate' | translate"
                    type="tel" />
                </mz-datepicker-container>
          </div>
          

          <div class="row" [style.margin-top]="'35px'">
            <mz-textarea-container>
              <i mz-icon-mdi mz-textarea-prefix [icon]="'message-reply-text'">
              </i>
              <textarea mz-textarea [label]="'inputs.quoteTitle' | translate" id="quote-textarea" formControlName="Text"  placeholder="{{'placeHolders.quote' | translate}}">
              </textarea>
            </mz-textarea-container>
          </div>
        </div>
        <button mz-button [disabled]="!createQuoteForm.valid" type="submit">{{'newQuote.publishText' | translate}}</button>
        <br/><br/>
      </form>
    </div>
  </div>
</div>