<div class="section">
  <div class="row">
    <div class="col s6">
      <form [formGroup]="createQuoteForm" (ngSubmit)="createQuote()" novalidate>
        <div class="section">
          <h5>Створення нової цитати:</h5>
          
          <div class="row" [style.margin-top]="'35px'">
              <mz-input-container>
                  <i mz-icon-mdi mz-input-prefix [icon]="'account'">
                  </i>
                  <input mz-input
                    [label]="'Хто сказав?'"
                    formControlName="Author"
                    placeholder="Впишіть ім'я людини яка сказала цитату"
                    type="text">
                </mz-input-container>
          </div>

          <div class="row" [style.margin-top]="'35px'">
              <mz-input-container>
                  <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'">
                  </i>
                  <input mz-input
                    [label]="'Де сказали цитату?'"
                    formControlName="Location"
                    placeholder="Місце де це сталося"
                    type="text">
                </mz-input-container>
          </div>

          <div class="row" [style.margin-top]="'35px'">
              <mz-datepicker-container>
                  <i mz-icon-mdi mz-input-prefix
                    [icon]="'calendar'">
                  </i>
                  <input mz-datepicker
                    formControlName="Date"
                    [label]="'Коли було сказано?'"
                    type="tel" />
                </mz-datepicker-container>
          </div>
          

          <div class="row" [style.margin-top]="'35px'">
            <mz-textarea-container>
              <i mz-icon-mdi mz-textarea-prefix [icon]="'message-reply-text'">
              </i>
              <textarea mz-textarea [label]="'Що такого було сказано, що це аж цитата?!'" id="quote-textarea" formControlName="Text"  placeholder="Впишіть те що сказала людина">
              </textarea>
            </mz-textarea-container>
          </div>
        </div>
        <button mz-button [disabled]="!createQuoteForm.valid" type="submit">Опублікувати</button>
        <br/><br/>
      </form>
    </div>
  </div>
</div>