QuoteSocialNetwork.API/[Dd]ebug/
QuoteSocialNetwork.API/[Dd]ebugPublic/
QuoteSocialNetwork.API/[Rr]elease/
QuoteSocialNetwork.API/[Rr]eleases/
QuoteSocialNetwork.API/x64/
QuoteSocialNetwork.API/x86/
QuoteSocialNetwork.API/bld/

QuoteSocialNetwork.API/QuoteSocialNetwork.API/[Bb]in/
QuoteSocialNetwork.API/QuoteSocialNetwork.API/[Oo]bj/

QuoteSocialNetwork.API/QuoteSocialNetwork.BLL/[Bb]in/
QuoteSocialNetwork.API/QuoteSocialNetwork.BLL/[Oo]bj/

QuoteSocialNetwork.API/QuoteSocialNetwork.UTIL/[Bb]in/
QuoteSocialNetwork.API/QuoteSocialNetwork.UTIL/[Oo]bj/

QuoteSocialNetwork.API/QuoteSocialNetwork.Data/[Bb]in/
QuoteSocialNetwork.API/QuoteSocialNetwork.Data/[Oo]bj/

QuoteSocialNetwork.API/[Ll]og/
QuoteSocialNetwork.API/.vscode/
QuoteSocialNetwork.API/QuoteSocialNetwork.API/bin
QuoteSocialNetwork.API/QuoteSocialNetwork.API/obj