QuoteSocialNetworkAPI/[Dd]ebug/
QuoteSocialNetworkAPI/[Dd]ebugPublic/
QuoteSocialNetworkAPI/[Rr]elease/
QuoteSocialNetworkAPI/[Rr]eleases/
QuoteSocialNetworkAPI/x64/
QuoteSocialNetworkAPI/x86/
QuoteSocialNetworkAPI/bld/
QuoteSocialNetworkAPI/[Bb]in/
QuoteSocialNetworkAPI/[Oo]bj/
QuoteSocialNetworkAPI/[Ll]og/
QuoteSocialNetworkAPI/.vscode/
