<div class="return-back">
  <button mz-button class="return-back-button" [routerLink]="['/groups']">
    <i mz-icon [icon]="'keyboard_backspace'" [align]="'left'"></i>
    {{'groups.backToListText' | translate}}
  </button>
</div>
<div *ngIf="group" class="group-container">
  <div class="group-title-container">
    <img class="group-image" [src]="defaultImageUrl">
    <div class="title">{{group.name}}</div>
    <div class="members-count">{{'groups.countOfMembersText' | translate}} {{group.users.length}}</div>
    <button class="group-menu" id="btn-group-menu">
      <i mz-icon-mdi [icon]="'dots-vertical'"></i>
    </button>
  </div>

  <div #quotesContainer class="group-content-container">
    <div *ngIf="group.quotes.length === 0" class="no-quotes">{{'groups.noQuotes' | translate}}</div>

    <app-quotes-list [quotes]="group.quotes"
                     (quoteDeleteEvent)="quoteDeletedHandler($event)"></app-quotes-list>

  </div>
  <div class="group-quote-container">
    <mz-textarea-container>
      <i mz-icon-mdi mz-textarea-prefix [icon]="'message-reply-text'"></i>
      <textarea mz-textarea [(ngModel)]="quote.Text" placeholder="{{'placeHolders.quote' | translate}}" length="1024" (keydown.enter)="postQuote($event);false"></textarea>
      <i mz-icon-mdi mz-textarea-prefix [icon]="'send'" (click)="saveQuote(quote);" style="cursor: pointer">
      </i>
    </mz-textarea-container>

    <div class="row" [style.margin-top]="'35px'" [style.margin-left]="'-0.5%'">
      <mz-input-container [inline]="true">
          <i mz-icon-mdi mz-input-prefix [icon]="'account'">
          </i>
          <input mz-input
          [(ngModel)]="quote.Author"
            [label]="'inputs.author' | translate"
            placeholder="{{'placeHolders.author' | translate}}"
            style="width: 310px;margin-right: 25px;"
            type="text">
        </mz-input-container>
        <mz-input-container [inline]="true">
            <i mz-icon-mdi mz-input-prefix [icon]="'map-marker'">
            </i>
            <input mz-input
            [(ngModel)]="quote.Location"
              [label]="'inputs.location' | translate"
              style="margin-right: 25px;"
              placeholder="{{'placeHolders.location' | translate}}"
              type="text">
          </mz-input-container>
          <mz-datepicker-container [inline]="true">
              <i mz-icon-mdi mz-input-prefix
                [icon]="'calendar'">
              </i>
              <input mz-datepicker
              [(ngModel)]="quote.Date"
                [label]="'inputs.quoteDate' | translate"
                style="margin-right: 25px;"
                type="tel" />
            </mz-datepicker-container>
  </div>
</div>

<div *ngIf="!group" class="group-container">
  <h3 class="group-title-container" style="text-align: center">Група не існує або була видалена.</h3>
</div>

<mz-dropdown class="group-menu-container" [id]="'group-menu'" [align]="'left'" [belowOrigin]="true" [dropdownButtonId]="'btn-group-menu'" [gutter]="true"
  [inDuration]="300" [outDuration]="300" [stopPropagation]="true">
  <mz-dropdown-item>
    <span (click)="copyInviteLink()">
        <i class="menu-icon" mz-icon-mdi mz-textarea-prefix [icon]="'content-copy'">
        </i>{{'groups.actions.inviteLink' | translate}}</span>
  </mz-dropdown-item>
  <mz-dropdown-item>
    <span style="color:red" (click)="deleteGroup()">
        <i class="menu-icon"  mz-icon-mdi mz-textarea-prefix [icon]="'delete'">
        </i>{{'groups.actions.delete' | translate}}</span>
  </mz-dropdown-item>
  <mz-dropdown-item>
    <span style="color:gray" (click)="leaveGroup()">
        <i class="menu-icon" mz-icon-mdi mz-textarea-prefix [icon]="'exit-to-app'">
        </i>{{'groups.actions.leave' | translate}}</span>
  </mz-dropdown-item>
</mz-dropdown>