<div class="">
  <mz-navbar [navbarClass]="'light-blue lighten-1'">
        <mz-navbar-item-container [align]="'left'">
            <mz-navbar-item *ngIf="isLoggedIn">
                <button class="SideNav-CollapseButton" 
                        mz-button
                        [id]="'btn-sidenav'"
                        [float]="true"
                        [flat]="true">
                <i mz-icon class="black-text" [icon]="'menu'"></i>
                </button>    
                <mz-sidenav [id]="'sidenav'" [collapseButtonId]="'btn-sidenav'">
                        <mz-sidenav-header>
                          <div class="user-view">
                              <img class="circle avatar" [src]="userProfile.photoURL ? userProfile.photoURL : defaultImageUrl">
                              <div class="white-text name">{{getUserDisplayName()}}</div>
                              <div class="white-text email">{{userProfile.email}}</div>
                          </div>
                        </mz-sidenav-header>
                        <mz-sidenav-subheader>Link Subheader</mz-sidenav-subheader>
                        <mz-sidenav-link>
                        <a href="#">First Link</a>
                        </mz-sidenav-link>
                        <mz-sidenav-divider></mz-sidenav-divider>
                        <mz-sidenav-link [active]="true">
                        <a href="#">Active Link</a>
                        </mz-sidenav-link>
                        <mz-sidenav-divider></mz-sidenav-divider>
                        <mz-sidenav-link>
                        <a href="#" class="waves-effect">Second Link With Waves</a>
                        </mz-sidenav-link>
                </mz-sidenav>
            </mz-navbar-item>
        </mz-navbar-item-container>
        <a href="#" class="brand-logo center"><a [routerLink]="['home']">Лого</a></a>
        <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item *ngIf="isLoggedIn"><a [routerLink]="['account/details']">Привіт {{getUserDisplayName()}}!</a></mz-navbar-item>
        <mz-navbar-item *ngIf="!isLoggedIn"><a [routerLink]="['login']">Ввійти</a></mz-navbar-item>
        <mz-navbar-item *ngIf="!isLoggedIn"><a [routerLink]="['register']">Зареєструватись</a></mz-navbar-item>
        <mz-navbar-item *ngIf="isLoggedIn"><a (click)="logout()">Вийти</a></mz-navbar-item>
        </mz-navbar-item-container>
    </mz-navbar>
</div>
