<div class="">
  <mz-navbar [navbarClass]="'light-blue lighten-1'">
        <mz-navbar-item-container [align]="'left'">
            <mz-navbar-item *ngIf="isLoggedIn">
                <button class="SideNav-CollapseButton" 
                        mz-button
                        [id]="'btn-sidenav'"
                        [float]="true"
                        [flat]="true">
                <i mz-icon class="black-text" [icon]="'menu'"></i>
                </button>    
                <mz-sidenav [id]="'sidenav'" [collapseButtonId]="'btn-sidenav'" [closeOnClick]="true">
                        <mz-sidenav-header>
                          <div class="user-view">
                              <a [routerLink]="['account/details']">
                                <img class="circle avatar" [src]="userProfile.photoURL ? userProfile.photoURL : defaultImageUrl">
                                <div class="white-text name">{{userProfile.displayName}}</div>
                                <div class="white-text email">{{userProfile.email}}</div>
                              </a>
                          </div>
                        </mz-sidenav-header>
                        <mz-sidenav-subheader>Дії</mz-sidenav-subheader>
                        <mz-sidenav-link>
                        <a [routerLink]="['quotes/create']" class="waves-effect">Написати цитату</a>
                        </mz-sidenav-link>
                        <mz-sidenav-divider></mz-sidenav-divider>
                        <mz-sidenav-link>
                        <a [routerLink]="['quotes']" class="waves-effect">Мої цитати</a>
                        </mz-sidenav-link>
                        <mz-sidenav-link [active]="true">
                        <a href="#" class="waves-effect">Мої групи</a>
                        </mz-sidenav-link>
                        <mz-sidenav-divider></mz-sidenav-divider>
                        <mz-sidenav-link>
                        <a href="#" (click)="logout()" class="waves-effect">Вийти</a>
                        </mz-sidenav-link>
                </mz-sidenav>
            </mz-navbar-item>
        </mz-navbar-item-container>
        <a href="#" class="brand-logo center"><a [routerLink]="['home']">Лого</a></a>
        <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item *ngIf="isLoggedIn"><a [routerLink]="['account/details']">Привіт {{userProfile.displayName}}!</a></mz-navbar-item>
        <mz-navbar-item *ngIf="!isLoggedIn"><a [routerLink]="['login']">Ввійти</a></mz-navbar-item>
        <mz-navbar-item *ngIf="!isLoggedIn"><a [routerLink]="['register']">Зареєструватись</a></mz-navbar-item>
        <mz-navbar-item *ngIf="isLoggedIn"><a (click)="logout()">Вийти</a></mz-navbar-item>
        </mz-navbar-item-container>
    </mz-navbar>
</div>
