.groups-block {

    .collection-item {
        padding-left: 92px;
        cursor: pointer;
    }

    .group-image {
        width: 62px !important;
        height: 62px !important;
    }

    .title {
        font-weight: bold;
    }
}