  <div class="section">
      <div class="row">
          <div class="col s6">
              <form [formGroup]="userProfileForm" (ngSubmit)="saveUserProfile()" novalidate>
                  <div class="section">
                      <h5>Ваш профіль</h5>
                      <div class="row">
                            <mz-input-container class="col s12 m9">
                                    <input mz-input mz-validation required 
                                           formControlName="firstName" 
                                           type="text" 
                                           [errorMessageResource]="errorMessageResources.firstName"
                                           id="input-firstName" 
                                           [label]="'Ім\'я'" />
                            </mz-input-container>
                      </div>
                      <div class="row">
                            <mz-input-container class="col s12 m9">
                                    <input mz-input mz-validation required 
                                           formControlName="lastName" 
                                           type="text" 
                                           [errorMessageResource]="errorMessageResources.lastName"
                                           id="input-lastName" 
                                           [label]="'Фамілія'" />
                            </mz-input-container>
                      </div>
                      <div class="row">
                            <mz-input-container class="col s12 m9">
                                    <input mz-input mz-validation required 
                                           formControlName="email" 
                                           type="text" 
                                           [errorMessageResource]="errorMessageResources.email"
                                           id="input-email" 
                                           [label]="'Імейл'" />
                            </mz-input-container>
                      </div>
                  </div>
                  
                  <button mz-button [disabled]="!userProfileForm.valid" type="submit">Зберегти</button>
                  <br/><br/>
                </form>
          </div>
          
          <div class="col s4">
              <h5 style="margin-left: -11.250px; margin-bottom: 20px;">Соціальні мережі:</h5>
              <div class="row">
                 <a class="waves-effect waves-light btn-large social facebook">
                 <i class="fa fa-facebook"></i> Прив'язати Facebook</a>
              </div>
              <div class="row">
                    <a class="waves-effect waves-light btn-large social twitter">
                    <i class="fa fa-twitter"></i> Прив'язати Twitter</a>
              </div>
              <div class="row">
                 <a class="waves-effect waves-light btn-large social google">
                 <i class="fa fa-google"></i> Прив'язати Google</a>
              </div>               
          </div>
      </div>
     