  <div class="section">
      <div class="row">
          <div class="col s6">
              <form [formGroup]="userProfileForm" (ngSubmit)="saveUserProfile()" novalidate>
                  <div class="section">
                      <h5>{{ 'profile.title' | translate }}</h5>
                      <div class="alertText" *ngIf="hasNotInternalAccount">{{'profile.noAccountText1' | translate}} <br> {{'profile.noAccountText2' | translate}}</div>
                      <div class="row" *ngIf="!hasNotInternalAccount">
                            <mz-input-container class="col s12 m9">
                                    <input mz-input mz-validation required 
                                           formControlName="displayName" 
                                           type="text" 
                                           [errorMessageResource]="errorMessageResources.displayName"
                                           id="input-displayName" 
                                           [label]="'inputs.fullName' | translate" />
                            </mz-input-container>
                      </div>
                      <div class="row" *ngIf="!hasNotInternalAccount">
                            <mz-input-container class="col s12 m9">
                                    <span class="profile-photoLabel">{{'profile.photo' | translate}}: </span>
                                    <div class="profile-photoLabelContainer">
                                        <img class="profile-photoPreview" [src]="userProfileModel.photoURL">
                                        <button class="profile-photoSelectButton" mz-button (click)="photoInput.click()" type="button">{{'profile.selectPhoto' | translate}}</button>
                                    </div>
                                    <input [style.display]="'none'"
                                           formControlName="photo"
                                           (change)="photoUpdloaded($event)" 
                                           type="file" 
                                           accept="image/*"
                                           id="input-photo"
                                           #photoInput />
                            </mz-input-container>
                      </div>
                  </div>
                  
                  <button *ngIf="!hasNotInternalAccount" mz-button [disabled]="!userProfileForm.valid" type="submit">{{'profile.saveText' | translate}}</button>
                  <button *ngIf="hasNotInternalAccount" mz-button type="button" [routerLink]="['/register']">{{'profile.createAccount' | translate}}</button>
                  <br/><br/>
                </form>
          </div>
          
          <div class="col s4">
              <h5 style="margin-left: -11.250px; margin-bottom: 20px;">{{'profile.socials' | translate}}</h5>
              <div class="row">
                 <div *ngIf="!hasMappedSocialAccount('facebook.com')">
                    <a class="waves-effect waves-light btn-large social facebook"
                       (click)="linkFb()">
                    <i class="fa fa-facebook"></i> {{'profile.linkFacebook' | translate}}</a>
                 </div>
                 <div *ngIf="hasMappedSocialAccount('facebook.com')">
                    <div class="col s12 m8 social-account-linked">
                        <i mz-icon-mdi mz-input-prefix
                            [icon]="'check'">
                        </i>
                        <span>Facebook {{'profile.isLinkedText' | translate}}</span>
                    </div>     
                 </div>
              </div>
              <div class="row">
                 <div *ngIf="!hasMappedSocialAccount('twitter.com')">
                     <a class="waves-effect waves-light btn-large social twitter"
                        (click)="linkTwitter()">
                     <i class="fa fa-twitter"></i> {{'profile.linkTwitter' | translate}}</a>
                 </div> 
                 <div *ngIf="hasMappedSocialAccount('twitter.com')">
                    <div class="col s12 m8 social-account-linked">
                        <i mz-icon-mdi mz-input-prefix
                            [icon]="'check'">
                        </i>
                        <span>Twitter {{'profile.isLinkedText' | translate}}</span>
                    </div>     
                 </div>                     
              </div>
              <div class="row">
                 <div *ngIf="!hasMappedSocialAccount('google.com')">
                     <a class="waves-effect waves-light btn-large social google"
                        (click)="linkGoogle()">
                     <i class="fa fa-google"></i> {{'profile.linkGoogle' | translate}}</a>
                 </div>  
                 <div *ngIf="hasMappedSocialAccount('google.com')">
                    <div class="col s12 m8 social-account-linked">
                        <i mz-icon-mdi mz-input-prefix
                            [icon]="'check'">
                        </i>
                        <span>Google {{'profile.isLinkedText' | translate}}</span>
                    </div>                     
                 </div>               
              </div>               
          </div>
      </div>
     